$primary-color: rgb(32, 31, 31);
$secondary-color: #2596be;

$show-city-image: true;
$city-image: url(../../images/austin.jpg);
$profile-image: url(../../images/profile_pic.jpg);

$background-opacity: 0.75;