@import 'config';
@import 'menu';
@import 'mobile';
*{
    box-sizing:border-box;
}
body{
    //@include background;
    background:$primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//headings
h1, h2, h3, h4{
    margin: 0;
    font-weight: 200;
    //padding: 0.4rem;

    &.lg-heading{
        font-size: 4rem;
        font-family: 'Dosis';
        padding: 0.4rem;
        //-webkit-text-stroke: 0.5px black;
        //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    &.sm-heading{
        font: size 1px;
        margin-bottom: 2rem;
        //background: rgba(lighten($primary-color,2), 0.5);
    }
    &.section-heading{
        font-size: 40px;
        text-align: center;
        padding-bottom: 2rem;
    }
}

//sections
section {
    border-radius: $section-border-radius;
    margin-bottom: 4rem;
    &#Introduction{
        @include background;
        flex-direction: column;
        min-height: 450px;
        width: 100%;
        top: 0;
        position: relative;
        //kinda cringe ngl, gonna have to make this better
        text-align: center;
        .intro-content{
            position: relative;
            .profile-pic{
                width: 300px;
                border-radius: 50%;
                position: relative;
                display:block;
                margin-left: auto;
                margin-right: auto;
                padding: 1rem;
            }
        }
        .icons{
            position: relative;
            display: flex;
            justify-content: center;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($primary-color, $background-opacity);
        } 
    }
    &#Projects{
        .project{
            @include card;
            .project-img-section{
                grid-row: span 2;
                grid-area: 1.5 / 1 / 3 / 2;
            }
            .project-img{
                max-width: 100%;
                position: relative;
                &:hover{
                    opacity: 0.1;
                }
                &:hover + .proj-link-icon, .proj-link-icon{
                    z-index: 9;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                    display:inline-block;
                }
            }
            .project-link{
                height: fit-content;
                text-align: center;
                position: relative;
                .proj-link-icon{
                    display: none;
                }
            }
            
            .project-stuff{
                grid-row-start: 1;
                grid-row-end: 1.5;
                grid-column-start: 2;
                padding-left: $content-padding;
                vertical-align: top;
            }
            .project-title{
                font-size: 25px;
            }
            .project-description{
                margin: 0;
            }
        }
    }
    &#Experience{
        .job{
            @include card;
            .company{
                text-align: center;
                .exp-img{
                    max-width: 100%;
                }
                .company-name{
                    font-weight: 500;
                }
            }
            .job-description{
                padding-left: $content-padding;
                .job-title{
                    font-size: 25px;
                }
                .job-exp{
                    padding-left: $content-padding;
                }
            }
        }
    }
}
.tags-section{
    grid-row-start: 3;
    grid-column: span 2;
    padding-top: $content-padding;
    .tags{
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
        align-content: center;
        margin-right: 10px;

        &--html{
            @extend .tags;
            background-color: $html;
            &:before{
                content: "HTML";
            }
        }

        &--css{
            @extend .tags;
            background-color: $css;
            &:before{
                content: "CSS";
            }
        }
        &--python{
            @extend .tags;
            background-color: $python;
            &:before{
                content: "Python";
            }
        }
        &--csharp{
            background-color: $csharp;
            @extend .tags;
            &:before{
                content: "C#";
            }
        }
        &--tensorflow{
            background-color: $tensorflow;
            @extend .tags;
            &:before{
                content: "Tensorflow";
            }
        }
        &--pytorch{
            background-color: $pytorch;
            @extend .tags;
            &:before{
                content: "Pytorch";
            }
        }
        &--react{
            background-color: $react;
            @extend .tags;
            &:before{
                content: "React";
            }
        }
        &--java{
            background-color: $java;
            @extend .tags;
            &:before{
                content: "Java";
            }
        }
        &--javascript{
            background-color: $javascript;
            @extend .tags;
            &:before{
                content: "Javascript";
            }
        }
        &--node{
            background-color: $node;
            @extend .tags;
            &:before{
                content: "Node";
            }
        }
        &--gcp{
            background-color: $gcp;
            @extend .tags;
            &:before{
                content: "Google Cloud Platform";
            }
        }
        &--aws{
            background-color: $aws;
            @extend .tags;
            &:before{
                content: "Amazon Web Services";
            }
        }
    }
}
a {
    color: #ffff;
    text-decoration:none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color:$secondary-color;
}
.description{
    font-size: $description-size;
}
main{
    @include background;
    padding: 1rem 6rem;
    height:100%;

    .icons{
        margin-top:1rem;
        a{
            padding:0.4rem;

            &:hover{
                color:$secondary-color;
                @include easeOut();
            }
        }
    }
    &#home{
        overflow: hidden;
        
        h1{
            text-align: center;
        }
    }
}